---
layout: post
title: Hello, i'm Quique
excerpt: "Portfolio de Quique Pons, desarrollador de software con conocimientos de Tecnologías Web (Angular, Vue, WebRTC) e Inteligencia Artificial (Tensorflow, sklearn, Keras), así como Docker para contenerización y despliegue."
keywords: ["developer", "web", "python", "javascript", "angular", "machine learning", "AI"]
photo: profile.jpeg
author: Quique Pons
tags: ["general", "post"]
---

<p>
    hola
</p>

