---
title: Oops! Not Found
layout: base
excerpt: "404 Error, la página que estabas buscando no se encuentra en el servidor, si lo deseas explora el resto de contenidos, tal vez encuentres lo que buscabas."
keywords : ["angujar", "Quique Pons", "Enrique Pons", "web development", "ai", "artificial inteligence", "tensorflow",
"javascript", "python", "rest api", "webrtc", "docker"]
permalink: 404.html
---

<h1>{{ title }}</h1>
<p>la página que estabas buscando no se encuentra en el servidor, si lo deseas explora el resto de contenidos, tal vez encuentres lo que buscabas 
<a href="{{ "/" | url }}">home page?</a></p>
